version: "3.9"

services:
  retreivr:
    # Docker Hub:
    image: retreivr/retreivr:0.9.3
    # Or GHCR:
    # image: ghcr.io/sudoStacks/retreivr:0.9.3

    container_name: retreivr
    ports:
      - "8090:8000"

    environment:
      - RETREIVR_HOST=0.0.0.0
      - RETREIVR_PORT=8090

    volumes:
      # IMPORTANT: Use absolute host paths in Portainer.
      - /srv/retreivr/downloads:/downloads
      - /srv/retreivr/data:/data
      - /srv/retreivr/config:/config
      - /srv/retreivr/logs:/logs
      - /srv/retreivr/tokens:/tokens

    restart: unless-stopped
